
@media only screen and (max-width: 600px) {}


@media only screen and (min-width: 600px) {}
 

@media only screen and (min-width: 768px) {}
 
/* tablettes */
@media only screen and (max-width: 992px) {

    .container {
        flex-direction : column;
        width : 100%;
    }
    .main {
        width : 100%;
    }

}
 

@media only screen and (min-width: 1200px) {} 