body {
    margin : auto;
    text-align : center;
}

.panel {
    display : grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
    

}

.item {
    border : black solid 1px;
    width : 100px;
    height : 100px;
    background-color: antiquewhite;
}